//general var
$main__blue: #0182f9;
$main__gray: #303030;
$global__max__width:1400px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #0182f9
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}